.about-trusted {
    margin: 80px 0;
    width: 100%;
    height: 492px;
    display: flex;justify-content: space-between;
    align-items: center;
}
.about-trusted-content {
    /* margin-top: 96px; */
    /* margin-bottom: 32px; */
    width: 590px;
}
.about-trusted-title {
    margin: 0 0 32px 0;
    font-weight: 600;
    font-size: 56px;
    line-height: 67px; 
    color: var(--gray-scale-gray-–-900);
}
.about-trusted-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px; 
    color: var(--gray-scale-gray-–-600);
}
.about-trusted-img{
    border-radius: 8px;
    width: 716px;
    height: 492px;
    margin-right: -40px;
}

.about-organic {
    display: flex;
    position: relative;
}
.about-organic-img{
    margin-left: -190px;
}
.about-organic-img img {
    max-width: 1129px;
    width: 100%;
    height: 685px;
}
.about-organic-content {
    position: absolute;
    top: 0;
    right: 65px;
    margin-top: 80px;
}
.about-organic-content-text-wrap{
    width: 570px;
    /* height: 226px; */
}
.about-organic-title {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    color: var(--gren-gray-scale-900);
}
.about-organic-text {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}
.about-organic-list {
    width: 648px;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.about-organic-item {
    width: 312px;
    /* height: 72px; */
    background: var(--gray-scale-white);
}
.about-organic-item::before{
    
}
.about-organic-item-title {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}
.about-organic-item-text {
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-500);
}