.home-products-card-list {
    padding-left: 0;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home-products-card-item {
    border: 1px solid var(--gray-scale-gray-–-100);
    width: 264px;
    height: 340px;
    background: var(--gray-scale-white);
    transition: all 0.4s;
}

.home-products-card-item-link {
    text-decoration: none;
    color: #1A1A1A;
}
.home-products-card-img {
    padding: 5px;
    width: 264px;
    height: 240px;
}
.home-products-card-content {
    padding: 12px;
}
.home-products-card-title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    color: var(--gray-scale-gray-–-700);
}
.home-products-card-price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-card-item-price {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px; 
    color: var(--gray-scale-gray-–-900);
}
.products-card-item-oldPrice {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    text-decoration: line-through;
    color: var(--gray-scale-gray-–-400);
}
.products-card-item-shop-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-radius: 100%;
    background-color: var(--gray-scale-gray-–-50);
}
.home-products-card-star-icon {
    width: 60px;
    height: 12px;
}
.home-products-card-item:hover .home-products-card-title{
    color: var(--branding-success-dark);
}
.home-products-card-item:hover .products-card-item-shop-icon{
    background-color: var(--branding-success);
    transition: all 0.4s;
}
.home-products-card-item:hover {
    border: 1px solid var(--branding-success-dark);
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    background: var(--gray-scale-white);
}
.home-products-card-item:hover .home-products-card-item-link {
    color: #fff;
}