.home-popular-wrap {
}
.home-popular-card-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}
.home-popular-card-item {
    border: 1px solid var(--gray-scale-gray-–-100);
    border-radius: 5px;
    padding: 16px 0px 24px 0px;
    width: 200px;
    height: 213px;
    background: var(--gray-scale-white);
}
.home-popular-card-item-link{
    text-decoration: none;
}
.home-popular-card-img {
    width: 190px;
    height: 130px;
}
.home-popular-card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px; 
    text-align: center;
    color: var(--gray-scale-gray-–-900);
}
.home-popular-card-item:hover {
    box-shadow: 0 0 12px 0 rgba(32, 181, 38, 0.32);
    border: 1px solid var(--branding-success-dark);
}
.home-popular-card-item:hover .home-popular-card-title {
    color: var(--branding-success-dark);
}