/* poppins-300 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v21-latin-regular.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v21-latin-700.woff2') format('woff2');
}

/* GENERAL */
*{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
    height: 100%;
    box-sizing: border-box;
}
img{
    display: block;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Arial", sans-serif;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width:1360px;
    margin: 0 auto;
    padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main{
    flex-grow: 1;
}
